h1 {color: blue; font-family: sans-serif; text-transform: uppercase; text-align: center;}
body {background-color: pink}

h2 {color: red}

p {color: white}

ul {color: purple; }

a {color: orange}

h5 {color: green; text-decoration: underline #D80BFF}
